/*
Theme Name: Themosis
Theme URI: http://framework.themosis.com/
Author: Julien Lambé
Author URI: http://www.themosis.com/
Description: The Themosis framework base theme.
Version: 1.3.2
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: easy, organized, expressive, fun.
*/

.page-movies .container {
  width: 100%;
}

.page-movies .showcase-img img {
  width: 70%;
  max-width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .single-page .showcase-img img {
    width: 100%;
  }

  .page-movies .showcase-img img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

}